#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// #define DEFAULT    0
// #define LAYERESC   1
// #define RAISE      2
// #define OTRA       3

/ {
        keymap {
                compatible = "zmk,keymap";

//LAYERDEFAULT BEGIN
                default_layer {
// --------------------------------------         --------------------------------------
// |ESC(1)|  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U  |  I  |  O  |  P  | BKSP |
// --------------------------------------         --------------------------------------
// |TAB/SH|  A  |  S  |  D  |  F  |  G  |         |  H  |  J  |  K  |  L  |  ;  |  '   |
// --------------------------------------         --------------------------------------
// | CTRL |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M  |  ,  |  .  |  /  | SHFT |
// --------------------------------------         --------------------------------------
//                    | WIN | ALT |SB(2)|         |SB(2)|EN(3)|ME(4)|
//                    -------------------         -------------------

                        bindings = <
   &lt 1 ESC         &kp Q    &kp W    &kp E    &kp R     &kp T             &kp Y        &kp U      &kp I                &kp O   &kp P    &kp BSPC
   &mt LSHIFT TAB    &kp A    &kp S    &kp D    &kp F     &kp G             &kp H        &kp J      &kp K                &kp L   &kp SEMI &kp SQT
   &kp LCTRL         &kp Z    &kp X    &kp C    &kp V     &kp B             &kp N        &kp M      &kp COMMA            &kp DOT &kp FSLH &kp LSHFT
                                       &kp LGUI &kp LALT  &lt 2 SPACE       &lt 2 SPACE  &lt 3 RET  &lt 4 K_CONTEXT_MENU
                        >;
                };
//LAYER ENDS

//LAYERSSPACE BEGIN 1
                LAYERSPACE2 {
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |  +  |  7  |  8  |  9  |  *  | BKSP |
// --------------------------------------         --------------------------------------
// | SHFT |     |     |     |     |     |         |  -  |  4  |  5  |  6  |  /  | DEL  |
// --------------------------------------         --------------------------------------
// | CTRL |     |     |     |     |     |         |  0  |  1  |  2  |  3  |  =  | RET  |
// --------------------------------------         --------------------------------------
//                    | WIN | ALT | SPC |         | SPC |  .  |     |
//                    -------------------         -------------------
                        bindings = <
   &none      &none &none &none      &none         &none                 &kp PLUS       &kp N7      &kp N8   &kp N9   &kp STAR     &kp BSPC
   &kp LSHIFT &none &none &none      &none         &none                 &kp MINUS      &kp N4      &kp N5   &kp N6   &kp KP_SLASH &kp DEL
   &kp LCTRL  &none &none &none      &none         &none                 &kp N0         &kp N1      &kp N2   &kp N3   &kp EQUAL    &kp RET
                          &kp LGUI   &kp LALT      &kp SPACE             &kp SPACE      &kp KP_DOT  &none
                        >;

                };
//LAYER ENDS

//LAYERSMENU BEGIN 2
                LAYERMENU {
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     | PU  |  ↑  | PD  |     |      |
// --------------------------------------         --------------------------------------
// |TAB/SH|     |     |     |     |     |         | HOME|  ←  |  ↓  |  →  | END | SHFT |
// --------------------------------------         --------------------------------------
// | CTRL |     |     |     |     |     |         |     |     |     |     |     | CTRL |
// --------------------------------------         --------------------------------------
//                    | WIN | ALT | SPC |         |     |     |     |
//                    -------------------         -------------------
                        bindings = <
   &none      &none &none     &none     &none      &none                   &none       &kp PG_UP  &kp UP     &kp PG_DN   &none      &none
   &kp LSHIFT &none &none     &none     &none      &none                   &kp HOME    &kp LEFT   &kp DOWN   &kp RIGHT   &kp END    &kp RSHIFT
   &kp LCTRL  &none &none     &none     &none      &none                   &none       &none      &none      &none       &none      &kp RCTRL
                              &kp LGUI  &kp LALT   &kp SPACE               &kp SPACE   &none      &none
                        >;
                };
//LAYER ENDS

//LAYERENT BEGIN 3
                LAYERENT {
// --------------------------------------         --------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |         |  +  |  `  |  (  |  )  |  *  | BKSP |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |  -  |  ~  |  [  |  ]  |  \  | DEL  |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |  |  |  _  |  {  |  }  |  =  |      |
// --------------------------------------         --------------------------------------
//                    |     |     |     |         |     |     |     |
//                    -------------------         -------------------
                        bindings = <
   &none &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT        &kp PLUS  &kp GRAVE &kp LPAR &kp RPAR &kp STAR &kp BSPC
   &none &none &none &none &none &none                      &kp MINUS &kp TILDE &kp LBKT &kp RBKT &kp BSLH &kp DEL
   &none &none &none &none &none &none                      &kp PIPE  &kp UNDER &kp LBRC &kp RBRC &kp EQUAL &none
                     &none &none &none                      &none &none &none
                        >;
                };
//LAYER ENDS

//LAYERSADJUST BEGIN 4
                LAYERSBSPC {
// --------------------------------------         --------------------------------------
// | ESC  |     |     |     |     |     |         |     | F1  | F2  | F3  | F4  |      |
// --------------------------------------         --------------------------------------
// | SHFT |     |     |     |     |     |         |     | F5  | F6  | F7  | F8  | SHFT |
// --------------------------------------         --------------------------------------
// | CTRL |     |     |     |     |     |         |     | F9  | F10 | F11 | F12 | CTRL |
// --------------------------------------         --------------------------------------
//                    | WIN | ALT |SPACE|         |SPACE| RET | MENU|
//                    -------------------         -------------------
                        bindings = <
   &none &none &none &none &none &none            &none &kp F1 &kp F2  &kp F3  &kp F4  &none
   &none &none &none &none &none &none            &none &kp F5 &kp F6  &kp F7  &kp F8  &none
   &none &none &none &none &none &none            &none &kp F9 &kp F10 &kp F11 &kp F12 &none
                     &none &none &none            &none &none &none
                        >;
                };
//LAYER ENDS

//LAYERESCT BEGIN 5
                LAYERESC {
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// | ADJST|     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
//                    |     |     |     |         |     |     |     |
//                    -------------------         -------------------
                        bindings = <
   &none &none &none &none &none &none             &none &none &none &none &none &none
   &none &none &none &none &none &none             &none &none &none &none &none &none
   &mo 7 &none &none &none &none &none             &none &none &none &none &none &none
                     &none &none &none             &none &none &none
                        >;
                };
//LAYERESCT ENDS 

//LAYERESCT BEGIN 6
                LAYERSPACE1 {
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
//                    |     |     |     |         |     |     |     |
//                    -------------------         -------------------
                        bindings = <
   &none &none &none &none &none &none             &none &none &none &none &none &none
   &none &none &none &none &none &none             &none &none &none &none &none &none
   &none &none &none &none &none &none             &none &none &none &none &none &none
                     &none &none &none             &none &none &none
                        >;
                };
//LAYERESCT ENDS 


//LAYERSADJUST BEGIN 7
                LAYERSADJUST {
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         | BT0 | BT1 | BT2 | BT3 | BT4 | BT_C |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
//                    |     |     | RLF |         | RRG |     |     |
//                    -------------------         -------------------
                        bindings = <
   &none &none &none &none &none &none              &none          &none           &none           &none           &none          &none
   &none &none &none &none &none &none              &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4   &bt BT_CLR
   &none &none &none &none &none &none              &none          &none           &none           &none           &none          &none
                     &none &none &bootloader        &bootloader    &none           &none
                        >;
                };
//LAYER ENDS


        };
};

//LAYER TEMPLATE
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
//                    |     |     |     |         |     |     |     |
//                    -------------------         -------------------
